@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

.a {
  margin: 0;
  background: linear-gradient(100deg, #200c32, #225ad4, #a985ff);
  background-size: 180% 180%;
  animation: gradient-animation 9s ease infinite;
  height: auto;
}

p {
  color: rgb(255, 255, 255);
  font-size: 20px;
}

img {
  height: 600px;
  width: 650px;
}

.hf {
  padding: 5px;
  font-size: 50px;

}

.a {
  display: grid;
  place-items: center;
  width: 100%;

  margin: 0;
}

h2 {
  color: white;
  margin: 5px;
}

.hs {
  font-size: 50px;
  background: -webkit-linear-gradient(rgb(18, 116, 228), rgb(46, 213, 235));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

}

.custom-btn {
  width: 130px;
  height: 50px;
  color: #fff;
  border-radius: 5px;
  padding: 15px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;

}

button {
  margin: 20px;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.b-1 {
  position: relative;
  bottom: 20px;
  border: none;
  width: 130px;
  height: 50px;
  line-height: 42px;
  -webkit-perspective: 230px;
  perspective: 230px;
}

.b-1 span {
  background: rgb(31, 182, 241);
  background: linear-gradient(0deg, rgb(15, 165, 224) 0%, rgb(19, 137, 255) 100%);
  display: block;
  position: absolute;
  width: 150px;
  height: 45px;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5), 7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  border-radius: 5px;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.b-1 span:nth-child(1) {
  box-shadow:
    -7px -7px 20px 0px #fff9,
    -4px -4px 5px 0px #fff9,
    7px 7px 20px 0px #0002,
    4px 4px 5px 0px #0001;
  -webkit-transform: rotateX(90deg);
  -moz-transform: rotateX(90deg);
  transform: rotateX(90deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.b-1 span:nth-child(2) {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
  -webkit-transform-origin: 50% 50% -20px;
  -moz-transform-origin: 50% 50% -20px;
  transform-origin: 50% 50% -20px;
}

.b-1:hover span:nth-child(1) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg);
}

.b-1:hover span:nth-child(2) {
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
    7px 7px 20px 0px rgba(0, 0, 0, .1),
    4px 4px 5px 0px rgba(0, 0, 0, .1);
  color: transparent;
  -webkit-transform: rotateX(-90deg);
  -moz-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
}